<div class="d-flex flex-column flex-shrink-0 shadow-sm h-100" style="width: 100px;">
    <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
       <img src="assets/sidebar-logo.png" class="sidebar-img" />
    </a>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      <li class="nav-item">
        <a routerLink="/dashboard" routerLinkActive="active" class="nav-link sidebar-title py-3" aria-current="page" title="Dashboard" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
            Dashboard
        </a>
      </li>
     
      <li>
        <a routerLink="/trips" routerLinkActive="active" class="nav-link sidebar-title py-3" title="Trips" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
           Trips
        </a>
      </li>
      <li>
        <a routerLink="/reports" routerLinkActive="active" class="nav-link sidebar-title py-3" title="Reports" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
         Reports
        </a>
      </li>
    
            <li>
        <a routerLink="/budget" routerLinkActive="active" class="nav-link sidebar-title py-3" title="Budget" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
          Budget
        </a>
      </li>
            <li>
        <a routerLink="/analytics" routerLinkActive="active" class="nav-link sidebar-title py-3" title="Analytics" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
          Analytics
        </a>
      </li>
         
    </ul>
    <div class="dropdown border-top">
      <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24" class="rounded-circle">
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>